* {
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 72px 20px 32px;
  margin-bottom: 30px;
  z-index: 99;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.menu-line {
  background-color: #1f2022;
  display: block;
  width: 20px;
  height: 3px;
  background-repeat: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background-color: #ebebeb;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  align-items: center;
  max-width: 830px;
  width: 50%;
}
.input-search {
  background-color: transparent;
  border: none;
  padding: 12px 23px;
  width: 100%;
  outline: none;
}
.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-search {
  fill: #000;
}
.icons-link {
  text-decoration: none;
  opacity: 0.24;
}
.icons-link:hover {
  opacity: 0.7;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  position: fixed;
  width: 12%;
  top: 114px;
  left: 0;
  height: calc(100% - 114px);
  overflow-y: auto;
  background-color: #fff;
  padding-left: 32px;
}
.content {
  width: 100%;
  margin-top: 85px;
  padding-left: 13%;
  padding-top: 30px;
  padding-bottom: 64px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style-type: none;
}
.subscribe-menu {
  margin-bottom: 104px;
}
.nav-item {
  margin-bottom: 28px; 
}
.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}
.nav-link:hover {
  color: #ff0000;
}
.nav-link:hover .icon{
  fill: #ff0000;
}
.nav-item .icon {
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.channel {
  position: relative;
  margin-bottom: 50px;
}
.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202C;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.channel-food-title {
  margin: 0;
  margin-right: 19px;
}
.channel-description {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.description-text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
}
.channel-text {
  margin-left: 20px;
}
.channel-big-title {
  margin-left: 0;
}
.video-card {
  width: 250px;
}
.video-card-big {
  width: 520px;
}
.video-thumb {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.video-thumb-big {
  width: 520px;
  height: 250px;
}
.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.thumbnail-big {
  width: 520px;
  height: 250px;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.video-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.video-counter {
  display: flex;
}
.video-views {
  margin-right: 5px;
}
.video-views::after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #C2C2C2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
  outline: none;
}
.slider-buttons {
  position: absolute;
  right: 9.5%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
.slider-3-buttons {
  width: 250px;
}
.subscribe-btn {
  width: 154px;
  height: 40px;
  background-color: #FF0000;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}